@{
    ViewBag.Title = "Отправить сообщение";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

<div class="row">
    <div class="md-col-12">
        <div class="row">
            <div class="md-col-12">
                Получатели:
                <input type="text" name="recipients" value=""  />
            </div>
        </div>
        <div class="row">
            <div class="md-col-12">
                Тема:
                <input type="text" name="subject" value="" />
            </div>
        </div>
        <div class="row">
            <div class="md-col-12">
                Сообщение:
                <textarea name="message" rows="10" cols="80"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="md-col-12">
                <input type="submit" value="Отправить" />
            </div>
        </div>
    </div>
</div>

}
