@{
    ViewBag.Title = "Кабинет подрядчика";
    ViewBag.Description = "Подрядчик - поставщик работ/услуг";
}

@section featured {
  <div class="alert alert-info">
     Вы ищете работу или предлагаете оптовые поставки товара? раздел <strong>Кабинет подрядчика</strong> поможет вам сделать это!
    </div>
}



<h2>В разделе:</h2>
<ol class="round">

    <li class="one">
        <h3>Начните с этого</h3>
        Посмотрите какие области жизни охватывают проекты сайта, посмотрите список заказов и их описание.
        Возможно это вас заинтересует, возможно вы увидите здесь новые возможности для себя. Если это так, то это сайт для вас.
    </li>

    <li class="two">
        <h3>Зарегистрируйтесь как пользователь</h3>
        Зарегистрируйтесь на сайте как новый пользователь. Вы получите полный доступ ко всем функциям сайта <strong>BI42.RU</strong>.
        <a href="/Account/Register">Регистрация</a>
    </li>

    <li class="three">
        <h3>Ознакомтесь с разделом помощи</h3>
        Ознакомтесь с разделом помощи, там вы найдёте подробное описание о сайте и работы с ним.
        <a href="/About">О сайте…</a>
    </li>

</ol>
