@{
    ViewBag.Title = "Кабинет заказчика";
}
@section featured {
    <div class="alert alert-info">
        У вас есть работа и вам нужно найти подрядчика? Раздел <strong>Кабинет заказчика</strong> поможет вам сделать это!
    </div>
}

<h2>В разделе:</h2>
<ol class="round">

    <li class="one">
        <h3>Зарегистрируйтесь как пользователь</h3>
        Зарегистрируйтесь на сайте как новый пользователь. Вы получите полный доступ к функциям.
        <a href="/Account/Register">Регистрация</a>
    </li>

    <li class="two">
        <h3>Создайте ваш профиль заказчика</h3>
        Активным может быть только один профиль заказчика.
    </li>

    <li class="three">
        <h3>Создайте новый заказ</h3>
        Создайте подробное описание заказа, укажите сроки и бюджет. Вы также можете выложить подробное описание в виде файла архива. Выставите заказ на тендер.
    </li>

</ol>
