@{
    ViewBag.Title = "Магазин";
}

@section featured {
    <div class="alert alert-info">
        У вас есть магазин и вы хотите опубликовать свой каталог товаров? Раздел "Мой магазин" поможет вам сделать это!
    </div>
}



<h3>Мы предлагаем следующее:</h3>
<ol class="round">

    <li class="one">
        <h5>Зарегистрируйтесь как пользователь</h5>
        Зарегистрируйтесь на сайте как новый пользователь. Вы получите полный доступ ко всем функциям сайта.
        <a href="/Account/Register">Регистрация</a>
    </li>

    <li class="two">
        <h5>Зарегистрируйте ваш магазин</h5>
        Укажите основные реквизиты вашего магазина и ТОП 10 каталог ваших лучших товаров.
    </li>

    <li class="three">
        <h5>Что это мне даст?</h5>
        <ul>
            <li>
                Вы получаете возможность совершенно бесплатно, опубликовать информацию о вашем магазине!
            </li>
            <li>
                Вы получаете возможность совершенно бесплатно, публиковать ТОП 10 вашего каталога!
            </li>
            <li>
                Вы получаете возможность совершенно бесплатно, публиковать ТОП 5 новостей где можете заявить о поступлении товара или скидках на товар!
            </li>
        </ul>
    </li>

</ol>

