<!DOCTYPE html>
<html>
<head>
    <title>@Model.Name сообщение с сайта www.bi42.ru</title>
</head>
<body>
    <div>
        Уважаемый пользователь, <b>@Model.Name</b>
        <br/>
        <br/>
        @Model.Body
        <br/>
        <br/>
        С уважением администрация сайта <a href='http://www.bi42.ru/'>www.bi42.ru</a><br/>
        Пожалуйста не отвечайте на это письмо.<br/>
        Письмо создано автоматической системой оповещения<br/>
        Дата и время создания сообщения: @Model.Time    
    </div>
</body>
</html>
