@{
    ViewBag.Title = "О бирже услуг BI42.RU";
}
<p>
    Биржа услуг BI42.RU новый стартап предназначеннный для решения 
    самой главной задачи в бизнесе - поиска <strong>заказчика</strong> или <strong>подрядчика</strong> работ и услуг.  
    Биржа <strong>BI42.RU</strong> задумывалась как место, где каждый сможет совершенно свободно 
    зарегистрироваться, разместить заказ, найти заказчика или подрядчика, разместить описание о себе или компании,
    заработать себе репутацию. 
</p>
<p>
    Большиство современных сайтов предлагающих подобные услуги действуют на платной основе (ежемесячные платежи)
    и предназначены в основном для юридических лиц. Мелким же предпринимателям и физическим лицам доступны только
    сайты бесплатных объявлений да социальные сети, но они не всегда дают возможность выложить примеры своих работ и
    участвовать в торгах, хранить историю контрактов и отзывов о реально сделанной работе.
</p> 

<p>
    <b>ВНИМАНИЕ!</b> биржа <strong>BI42.RU</strong> не несёт ответсвенности за деятельность заказчиков и исполнителей заказов, 
    только предоставляет техническую возможность поиска заказчика, подрядчика работ/услуг. 
</p>

<h2>Уникальность биржи услуг BI42.RU</h2>
<ol>
    <li>Охватывает весь рынок услуг, а не узкую нишу (например ИТ).</li>
    <li>Основное отличие от сайтов объявлений, площадка позволяет вести историю заказов, 
    общения с заказчиком/подрядчиком, выставлять отзывы о заказчике/подрядчике.</li>
    <li>Позволяет получить несколько предложений для выбора наиболее выгодного.</li>
    <li>Бесплатное получение уведомлений на почту о новых проектах/заказах и предложениях.</li>
</ol>

<h2>Основные термины</h2>
<a name="Registration"></a>
<h3>Регистрация</h3>
<p>
    Обязательная процедура для доступа к площадке. Только зарегистрированные пользователи получают доступ к площадке.
</p>

<a name="Profile"></a>
<h3>Профиль</h3>
<p>
    Обязательный набор данных однозначно описывающий заказчика/подрядчика и его область работ/услуг. Все заказы
    связываются с активным профилем. Заказчик/подрядчик может иметь несколько своих профилей, но активным может быть только один. 
    Без активного профиля не доступны функции площадки. После регистрации первым шагом должен быть создан профиль.
</p>

<a name="Customer"></a>
<h3>Заказчик</h3>
<p>
    Лицо выступающее в качестве заказчика работ/услуг. Размещает заказы и выбирает работников. Заказчик может разместить
    несколько заказов, а также заключить контракт с несколькими работниками на заказ.
</p>

<a name="Employee"></a>
<h3>Подрядчик</h3>
<p>
    Лицо выступающее в качестве исполнителя работ и услуг, ищет заказы. Для выполнения заказа, делает заявку с описанием предложения выполнения работ/услуг.
</p>

<a name="Order"></a>
<h3>Заказ</h3>
<p>
    Описание потребности заказчика в работах/услугах. Заказ обязательно включает следующие параметры:
    <ol>
        <li>Наименование заказа</li>
        <li>Область заказа</li>
        <li>Подробное описание</li>
        <li>Старт заказа - дата когда работа/услуга должна быть оказана</li>
        <li>Бюджет заказа</li>
    </ol>
</p>

<a name="Bid"></a>
<h3>Заявка</h3>
<p>
    Предложение <strong>подрядчика</strong> о стоимости и сроках выполнения заказа. Заявка должна влючать следующие параметры:
    <ol>
        <li>Описание предложения включая сроки выполнения работ/услуг и важные моменты</li>
        <li>Стоимость работ/услуг</li>
        <li>Стоимость часа работ/услуг</li>
    </ol>
</p>

<a name="Contract"></a>
<h3>Контракт</h3>
<p>
    Публичное соглашение между заказчиком и подрядчиком предметом которого является выполнение работ и услуг.
</p>
