@{
    ViewBag.Title = "Биржа услуг BI42.RU";
}

@section featured {
<div class="jumbotron">
    <div class="row">
        <div class="col-md-offset-1 col-md-7">
            <h1  style="font-size: 24px">Биржа услуг BI42.RU.</h1>
            <p style="font-size: 16px">
                Заказчикам бесплатная регистрация и публикации заказа.<br/>
                Подрядчикам бесплатная регистрация и публикация услуг, примеров работ.<br />
                И тем и другим возможность найти друг друга! 
            </p>
            <p>
                <a href="/Home/About" class="btn btn-primary btn-lg">Узнать больше &raquo;</a>
            </p>
        </div>
        <div class="col-md-offset-1 col-md-2">
            <img src="~/Content/plan.gif" class="img-responsive"/>
        </div>
    </div>
</div>
}


  
    <div class="row">
        <h2>Как разместить заказ и начать поиск исполнителя работ и услуг на площадке <b>BI42.RU</b>?</h2>
        <div class="col-md-4">
            <h3>Шаг №1</h3>
            <p>
                <a href="/Account/Register">Зарегистрируйтесь на площадке <b>BI42.RU</b>.</a>
            </p>
            <p><a class="btn btn-default" href="/Home/About#Registration">Узнать больше &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h3>Шаг №2</h3>
            <p>Создайте ваш профиль.</p>
            <p><a class="btn btn-default" href="/Home/About#Profile">Узнать больше &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h3>Шаг №3</h3>
            <p>Разместите свой заказ.</p>
            <p><a class="btn btn-default" href="/Home/About#Order">Узнать больше &raquo;</a></p>
        </div>
    </div>

    <div class="row">
        <h2>Как начать поиск работы на площадке <b>BI42.RU</b>?</h2>
        <div class="col-md-4">
            <h3>Шаг №1</h3>
            <p>
                <a href="/Account/Register">Зарегистрируйтесь на площадке <b>BI42.RU</b>.</a>
            </p>
            <p><a class="btn btn-default" href="/Home/About#Registration">Узнать больше &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h3>Шаг №2</h3>
            <p>Создайте ваш профиль.</p>
            <p><a class="btn btn-default" href="/Home/About#Profile">Узнать больше &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h3>Шаг №3</h3>
            <p>Выберите заказ.</p>
            <p><a class="btn btn-default" href="/Home/About#Order">Узнать больше &raquo;</a></p>
        </div>
    </div>

